/* FONT INPORTS: 														*/
/* ---------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* ------------------ */

/* VARIABLES: 															*/
/* ---------------------------------------- */
$secondary: #0a0b5b;
$secondary-txt-color: #222;
$primary: #ffc636;
/* ------------------ */

/* MIXINS: 															*/
/* ---------------------------------------- */
@mixin section-padding {
	padding: 30px 20px;
}

@mixin centerTxt {
	margin-bottom: 0;
	text-align: center;
}
/* ------------------ */

/* RESET: 																	*/
/* ---------------------------------------- */
/* This Next Rule and the one after is called the
   Universal Box Sizing with Inheritance */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
p,
a,
ul,
li {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

li {
	list-style-type: none;
}
/* ------------------ */

/* BASE STYLES: 														*/
/* ---------------------------------------- */
body {
	background-color: $secondary;
	overflow-x: hidden;
	font-family: 'Rubik', sans-serif;
}

body > * {
	width: 100%;
}

.button {
	background: none;
	border: 2px solid $primary;
	color: $primary;
	padding: 6px 12px;
	border-radius: 20px;
	text-transform: uppercase;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
	display: inline-block;
}

.button:hover {
	color: $secondary-txt-color;
	background: $primary;
}

input,
textarea {
	background-color: rgba($color: #fff, $alpha: 0.05);
	color: #f2f2f2;
	padding: 10px 16px;
	border-radius: 20px;
	border: 2px solid #9893d8;
}
/* ------------------ */

/* FONTS: 																	*/
/* ---------------------------------------- */
h1,
h2,
h3,
h4 {
	color: #dddbff;
	font-weight: normal;
}

p,
a,
li {
	color: #9893d8;
}

h1, /* h1 is the logo-name are the sub-headings */
h3 {
	font-size: 1.2em;
}

h2 {
	/* h2 is the Big heading */
	font-size: 1.6em;
}

h4 {
	/* h4 is description text */
	font-size: 1em;
}

.leading {
	/* These are leading paragraphs */
	font-size: 1.1em;
}
/* ------------------ */

/* MOBILE STYLES:													  */
/* ---------------------------------------- */
// Out Basic Grid System 8 Columns
.grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 10px;
}

#portfolio,
#skills,
#contact {
	@include section-padding;

	h3 {
		@include centerTxt();
	}
}

// Navigation Section
.site-nav {
	padding: 20px;

	ul {
		display: none;
	}

	h1 {
		grid-column: 1/4;
		grid-row: 1; /* I don't have to, but just to be explicit*/
		padding-bottom: 10px;
		border-bottom: 3px solid $primary;
	}
}

// Welcome Section
#welcome {
	padding: 0 0 0 20px;

	.welcome-text {
		grid-column: 1/6;

		a {
			margin: 20px 0;
		}
	}

	.welcome-img {
		overflow-x: hidden;
		grid-column: 6/9;

		img {
			max-width: 200%;
		}
	}
}

// Portfolio Section
#portfolio {
	background-image: url(../images/square_bg.png);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;

	.projects {
		a {
			grid-column: 1/9;
			text-align: center;
			margin: 20px 0;
			display: flex;

			* {
				max-width: 40%;
				margin: 0 20px;
				align-self: center;
			}
		}

		h4 {
			color: #9994f7;
		}
	}
}

// Skills Section
#skills {
	background: #07083e;

	ul {
		margin: 40px auto;
	}

	li {
		padding: 10px;
		text-align: center;
		background: rgba($color: #000, $alpha: 0.2);
		grid-column: span 4;
	}

	img {
		height: 80px;
		margin: 10px auto;
	}
}

// Contact Section
#contact {
	background: #080936;

	p {
		@include centerTxt;
	}

	form {
		width: 80%;
		max-width: 400px;
		margin: 20px auto;
		text-align: center;

		input,
		textarea {
			width: 100%;
			margin: 10px 0;
		}

		.button {
			margin-top: 10px;
		}
	}
}

footer {
	@include section-padding;
	background-color: #14153d;
	background-image: url(../images/footer_image.png);
	background-size: 40%;
	background-position: top;
	background-repeat: no-repeat;

	.grid {
		align-items: center;
	}

	.copyright {
		grid-column: 1/3;
		font-size: 0.8em;
	}

	.social {
		grid-column: 7/9;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		li {
			align-self: center;
		}

		img {
			width: 23px;
		}
	}

	li:nth-child(1) {
		margin: 0 6px;
	}

	li:nth-child(2) {
		margin: 0 0 0 6px;
	}
}
/* ------------------ */

/* MEDIA QUERIES:
/* ---------------------------------------- */
// small tablet styles
@media screen and (min-width: 620px) {
	#welcome {
		.welcome-text {
			grid-column: 1/5;
		}

		.welcome-img {
			grid-column: 5/9;
			img {
				width: 100%;
			}
		}
	}

	#portfolio {
		.projects {
			margin-top: 40px;

			a {
				grid-column: span 4;
				display: block;

				&:last-child {
					grid-column: 3/7;
				}

				* {
					max-width: 60%;
					margin: 30px 20%;
				}
			}
		}
	}

	#skills {
		padding: 30px 100px;

		li {
			padding: 30px 0;
		}
	}

	footer {
		background-size: 20%;

		.social {
			img {
				width: 25px;
			}
		}
	}
}

// large tablets & laptop styles
@media screen and (min-width: 960px) {
	body {
		font-size: 18px;
	}

	.grid {
		width: 100%;
		max-width: 1060px;
		margin: 0 auto;
	}

	.site-nav {
		h1 {
			grid-column: 1/3;
		}

		ul {
			grid-column: 6/9;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			> * {
				margin-left: 20px;
			}
		}
	}

	#welcome {
		align-items: center;
		padding-bottom: 40px;

		.welcome-text {
			.leading {
				margin: 20px 0;
			}
		}
	}

	#portfolio {
		.projects {
			a {
				&:nth-child(1) {
					grid-column: 2/4;
				}
				&:nth-child(2) {
					grid-column: 4/6;
					padding-top: 140px;
				}
				&:nth-child(3) {
					grid-column: 6/8;
				}

				* {
					max-width: 80%;
					margin: 30px 10%;
				}
			}
		}
	}

	#skills {
		li {
			grid-column: span 2;
		}
	}

	footer {
		padding: 40px 20px;
		background-size: 23%;
	}
}

// desktop styles
@media screen and (min-width: 1200px) {
	body {
		font-size: 20px;
	}

	.site-nav {
		padding: 20px 0;
	}

	#welcome,
	#portfolio,
	#skills,
	#contact {
		padding: 90px 0;
	}

	#portfolio {
		.projects {
			a {
				&:nth-child(1) {
					grid-column: 1/3;
				}

				&:nth-child(3) {
					grid-column: 7/9;
				}

				* {
					max-width: 100%;
					margin: 30px 0;
				}
			}
		}
	}

	footer {
		padding: 80px 0;
		background-size: 30%;

		.social {
			img {
				width: 30px;
			}
		}
	}
}
