/* FONT INPORTS: 														*/
/* ---------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/* ------------------ */
/* VARIABLES: 															*/
/* ---------------------------------------- */
/* ------------------ */
/* MIXINS: 															*/
/* ---------------------------------------- */
/* ------------------ */
/* RESET: 																	*/
/* ---------------------------------------- */
/* This Next Rule and the one after is called the
   Universal Box Sizing with Inheritance */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ------------------ */
/* BASE STYLES: 														*/
/* ---------------------------------------- */
body {
  background-color: #0a0b5b;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

.button {
  background: none;
  border: 2px solid #ffc636;
  color: #ffc636;
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.button:hover {
  color: #222;
  background: #ffc636;
}

input,
textarea {
  background-color: rgba(255, 255, 255, 0.05);
  color: #f2f2f2;
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893d8;
}

/* ------------------ */
/* FONTS: 																	*/
/* ---------------------------------------- */
h1,
h2,
h3,
h4 {
  color: #dddbff;
  font-weight: normal;
}

p,
a,
li {
  color: #9893d8;
}

h1,
h3 {
  font-size: 1.2em;
}

h2 {
  /* h2 is the Big heading */
  font-size: 1.6em;
}

h4 {
  /* h4 is description text */
  font-size: 1em;
}

.leading {
  /* These are leading paragraphs */
  font-size: 1.1em;
}

/* ------------------ */
/* MOBILE STYLES:													  */
/* ---------------------------------------- */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

#portfolio,
#skills,
#contact {
  padding: 30px 20px;
}
#portfolio h3,
#skills h3,
#contact h3 {
  margin-bottom: 0;
  text-align: center;
}

.site-nav {
  margin: 0 20px;
}
.site-nav ul {
  display: none;
}
.site-nav h1 {
  grid-column: 1/4;
  grid-row: 1;
  /* I don't have to, but just to be explicit*/
  padding-bottom: 10px;
  border-bottom: 3px solid #ffc636;
}

#welcome {
  padding: 0 0 20px 20px;
}
#welcome .welcome-text {
  grid-column: 1/6;
}
#welcome .welcome-text a {
  margin: 20px 0;
}
#welcome .welcome-img {
  overflow-x: hidden;
  grid-column: 6/9;
}
#welcome .welcome-img img {
  max-width: 200%;
}

#portfolio {
  background-image: url(../images/square_bg.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
#portfolio .projects a {
  grid-column: 1/9;
  text-align: center;
  margin: 20px 0;
  display: flex;
}
#portfolio .projects a * {
  max-width: 40%;
  margin: 0 20px;
  align-self: center;
}
#portfolio .projects h4 {
  color: #9994f7;
}

#skills {
  background: #07083e;
}
#skills ul {
  margin: 40px 0;
}
#skills li {
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  grid-column: span 4;
}
#skills img {
  height: 80px;
  margin: 10px auto;
}

#contact {
  background: #080936;
}
#contact p {
  margin-bottom: 0;
  text-align: center;
}
#contact form {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}
#contact form input,
#contact form textarea {
  width: 100%;
  margin: 10px 0;
}
#contact form .button {
  margin-top: 10px;
}

footer {
  padding: 30px 20px;
  background-color: #14153d;
  background-image: url(../images/footer_image.png);
  background-size: 40%;
  background-position: top;
  background-repeat: no-repeat;
}
footer .grid {
  align-items: center;
}
footer .copyright {
  grid-column: 1/3;
  font-size: 0.8em;
}
footer .social {
  grid-column: 7/9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .social li {
  align-self: center;
}
footer .social img {
  height: 100%;
}
footer li:nth-child(1) {
  margin: 0 6px;
}
footer li:nth-child(2) {
  margin: 0 0 0 6px;
}

/* ------------------ */
/* MEDIA QUERIES:
/* ---------------------------------------- */
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
